<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.tjutreservation.mapper.MeetingMapper">
    <insert id="insertMeeting" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tjut_reservation.meeting(name, creator, room_id, date, start_time, end_time, content)
            VALUES(#{name}, #{creator}, #{roomId}, #{date}, #{startTime}, #{endTime}, #{content})
    </insert>

    <update id="updateMeeting">
        update
            tjut_reservation.meeting
        set
            name = #{name},
            creator = #{creator},
            room_id = #{roomId},
            date = #{date},
            start_time = #{startTime},
            end_time = #{endTime},
            content = #{content}
        where
              id = #{id}
    </update>

    <select id="selectMeetingByDate" resultType="com.hanzoy.tjutreservation.pojo.po.MeetingPo">
        select
               id, name, creator, room_id AS roomId, date, start_time AS startTime, end_time AS endTime, content
        from
             tjut_reservation.meeting
        where
              date = #{date}
        and
              room_id = #{roomid};
    </select>

    <select id="selectRoomById" resultType="com.hanzoy.tjutreservation.pojo.po.MeetingRoomPo">
        select
               id, name, date, time, remark
        from
             tjut_reservation.meeting_room
        where
              id = #{id};
    </select>

    <insert id="insertParticipant" useGeneratedKeys="true" keyColumn="id">
        insert into tjut_reservation.participant(user, meeting, remind) VALUES (#{openid}, #{meeting}, #{remind})
    </insert>

    <select id="selectCountForYearByMonth" resultType="int">
        select
               COUNT(m.id)
        from
             tjut_reservation.meeting m
        left join
                tjut_reservation.participant p
        on
            p.meeting = m.id
        where
              date like CONCAT(#{year}, '-%', #{month}, '-%')
        and
            p.user = #{openid};
    </select>

    <select id="selectMeetingByYearAndMonth" resultType="com.hanzoy.tjutreservation.pojo.po.MeetingPo">
        select
            m.id, m.name, u.name AS creator, r.name AS roomId, m.date, m.start_time AS startTime, end_time AS endTime
        from
            tjut_reservation.meeting m
                left join
                    tjut_reservation.users u
                on
                    m.creator = u.openid
                left join
                    tjut_reservation.meeting_room r
                on
                    m.room_id = r.id
                left join
                    tjut_reservation.participant p
                on
                    p.meeting = m.id
        where
            m.date like CONCAT(#{year}, '-%', #{month}, '-%')
        and
            p.user = #{openid}
        order by date DESC, startTime DESC;
    </select>

    <select id="selectMeetingById" resultType="com.hanzoy.tjutreservation.pojo.dto.result.GetReservationResult">
        select
            m.id, m.name, u.name as creator, mr.name AS meetingName, m.date, CONCAT(start_time , '-', end_time) AS time, content
        from
             tjut_reservation.meeting m
                 left join
                 tjut_reservation.users u
                     on u.openid = m.creator left join tjut_reservation.meeting_room mr on mr.id = m.room_id
        where
              m.id = #{id};
    </select>

    <select id="selectIsCreator" resultType="integer">
        select
               id
        from
             tjut_reservation.meeting
        where
              id = #{id}
          and
              creator = #{openid};
    </select>

    <select id="selectParticipantList" resultType="com.hanzoy.tjutreservation.pojo.dto.result.GetReservationResult$User">
        select
               u.openid AS id, u.name, u.nick_name AS nickName, u.avatar_url AS avatarUrl
        from
             tjut_reservation.participant p
                 left join
                 tjut_reservation.users u
                     on u.openid = p.user
        where
              p.meeting = #{id};
    </select>

    <select id="selectAllMeetingRoom" resultType="com.hanzoy.tjutreservation.pojo.dto.result.GetReservationsResult$MeetingRoom">
        select
               id AS roomid, name, date, time, remark
        from
             tjut_reservation.meeting_room;
    </select>

    <select id="selectRiLiByYearAndMonth" resultType="com.hanzoy.tjutreservation.pojo.po.DayPo">
        select
               COUNT(id) AS count, date AS dayOfMonth
        from
             tjut_reservation.meeting
        where
              date like CONCAT(#{year}, '-%', #{month}, '-%') group by date;
    </select>

    <select id="selectAllRoomInfoByDate" resultType="com.hanzoy.tjutreservation.pojo.po.MeetingRoomInfo">
        select
               mr.id AS roomid, count(m.name) AS count
        from
             tjut_reservation.meeting_room mr
                 left join
                 tjut_reservation.meeting m
                     on mr.id = m.room_id
        where
              m.date = #{date}
        group by mr.id order by mr.id ;
    </select>

    <select id="selectBarByDateAndRoomId" resultType="com.hanzoy.tjutreservation.pojo.po.BarPo">
        select
               start_time AS startTime, end_time AS endTime
        from
             tjut_reservation.meeting
        where
              date = #{date}
          and
              room_id = #{roomid}
        order by startTime ;
    </select>

    <select id="selectMeetingInfo" resultType="com.hanzoy.tjutreservation.pojo.po.MeetingInfoPo">
        select
               id, m.name, u.name AS creator, m.date, CONCAT(start_time, '-', end_time) AS time
        from
             tjut_reservation.meeting m
                 left join tjut_reservation.users u on u.openid = m.creator
        where
              date = #{date}
        and
              room_id = #{roomid}
        order by start_time;
    </select>

    <select id="isRemind" resultType="boolean">
        select
               remind
        from
             tjut_reservation.participant
        where
              user = #{openid}
          and
              meeting = #{meetingId};
    </select>

    <delete id="deleteMeeting">
        delete from
                    tjut_reservation.meeting
        where
              id = #{meetingId}
    </delete>

    <select id="selectParticipantUserByMeetingAndNeedRemind" resultType="string">
        select
               user
        from
             tjut_reservation.participant
        where
              meeting = #{meetingId}
          and
              remind = 1
    </select>

    <update id="updateParticipantRemindByMeetingAndOpenid">
        update
            tjut_reservation.participant
        set
            remind = #{remind}
        where
              meeting = #{meetingId}
          and
              user = #{openid}
    </update>

    <select id="selectMeetingRoomIdByMeetingId" resultType="integer">
        select
               room_id
        from
             meeting
        where
              id = #{meetingId}
    </select>

    <delete id="deleteParticipantRemindByMeetingAndOpenid">
        delete from
                    participant
        where
              meeting = #{meetingId}
          and
              user = #{openid}
    </delete>

</mapper>
